---
---

#about-me-wrapper {
  display: inline-block;
  text-align: center;
  img, p {
    display: inline-block;
  }
  img {
    border-radius: 50%;
    margin: 0 1em 2em 0;
    vertical-align: top;
    object-fit: cover;
    width: 250px;
    height: 250px;
  }
  @media (min-width: 700px) {
    text-align: left;
    p {
      width: 59%;
    }
  }
}

#landing-banner {
  text-align: center;
  margin: 4em 0;
}

.post-content img{
  border: 2px solid;
}

