---
---

body {
  font: 300 21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #F9F9F9;
  color: #313131;
}

h1 {
  font-weight: 100;
  margin: .5em auto 1.5em;
}

img {
  margin-top: 1em;
}

.fa {
  border: 1px solid #313131;
  border-radius: 100%;
  padding: 5px;
  margin: auto 3%;
  color: #F9F9F9;
  background-color: #313131;
  height: 105px;
  width: 105px;
}

.link-container .link-description {
  color: #F9F9F9; 
}

.link-container:hover .link-description {
  color: #313131;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
}

.link-container {
  display: inline-block;
  margin: auto 1em;
}
