body {
  font: 300 1.1em Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  text-align: left;
  background-color: $layout-white;
  color: $layout-black; 
  margin: 0;
 }

#main-content{
  @include outer-container;
	max-width: 50em;
  min-width: 350px;
  margin-top: 1em;
  margin-left: $sidebar-width;
  @include media($mobile) { margin-left: $s-sidebar-width; }
  @media print { margin-left: $layout-padding; }
  p {
    line-height: 1.5em;
  }
}

.padding-container {
  padding: $layout-padding;
}

#markdown-container{
  @include span-columns(12);
}

.profile-picture {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(4);
    text-align: center;
  }
  img {
    padding: 0 $layout-padding 0 0;
    @include media($mobile) { padding: 0; }
    width: 15em;
  }
}

.about-me {
  @include span-columns(8);
  @include media($mobile) {
    @include span-columns(4);
    text-align: center;
    padding: $layout-padding;
  }
}

