$max-width:  55em;
$padding: 16px;
$mobile: new-breakpoint(max-width $max-width 4); 

body {
  font: 400 1em Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: left;
  background-color: $layout-white;
  color: $layout-black; 
  margin: 0;
 }

#main{
  @include outer-container;
}

#markdown-container{
  @include span-columns(12);
  padding: 1em;
}

.profile-picture {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(4);
    @include media($mobile) { text-align: center; }
  }
  img {
    padding: 1em;
    width: 15em;
  }
}

.about-me {
  @include span-columns(8);
  @include omega();
  @include media($mobile) {
    @include span-columns(4);
    @include media($mobile) { text-align: center; }
    padding: 1em;
  }
}

