.contact-links {
  margin-top: 4.5em;
  text-align: center;
  @include span-columns(12);
  @include omega();
  @include media($mobile) {
    @include span-columns(4);
    margin-top: 2.5em;
  }
  .link-container {
    display: inline-block;
    margin: auto 1em;
    .link-description {
      color: $layout-white;
    }
    &:hover{ 
      .link-description{
        color: $layout-black;
        -o-transition:.2s;
        -ms-transition:.2s;
        -moz-transition:.2s;
        -webkit-transition:.2s;
      }
    }
  }
}

// .fa {
//   border: 1px solid $layout-black;
//   border-radius: 100%;
//   padding: 5px;
//   margin: auto 3%;
//   color: $layout-white;
//   background-color: $layout-black;
//   height: 1.1em;
//   width: 1.1em;
// }

