#sidebar{
  @media print{ display: none; }
  position:fixed;
  width: $sidebar-width;
  @include media($mobile) {
    width: $s-sidebar-width;
  }
  height:100%;
  top:0;
  left:0;
  background: linear-gradient(to right, #dadada, #f9f9f9);
  nav {
    height: inherit;
    a {
      text-decoration: none;
    }
    .link-area {
      text-align: right;
      display: table;
      color: $layout-black;
      font-size: 3.5em;
      width: 100%;
      height: 16%;
      &.active{
        background-color: #dadada;
        .link-description {
          display: table-cell;
          @include media($mobile) {
            display: none;
          }
        }
      }
      .link-description {
        display: none;
        font-size: .4em;
        margin-right: .5em;
      }
      &:hover{ 
        .link-description{
          @include media($mobile) {
            display: none;
          }
          display: table-cell;
          color: $layout-black;
          -o-transition:.2s;
          -ms-transition:.2s;
          -moz-transition:.2s;
          -webkit-transition:.2s;
        }
      }
      span {
        display: table-cell;
        vertical-align: middle;
      }
      .link-icon{
        padding-right: 1em;
        width: 45%;
      }
    }
  }
}
