// Colors
$layout-black: #313131;
$layout-white: #F9F9F9;
$layout-gray:  #dadada;

//Sizes
$max-width: 65em;
$layout-padding: 1.5em;
$sidebar-width: 18em;
$s-sidebar-width: 7em;

//Media Queries
$mobile: new-breakpoint(max-width $max-width 4);

